@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

html,
body,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(rgb(29, 29, 29), rgb(0, 0, 0));
    color: whitesmoke;
}

* {
    box-sizing: inherit;
}

.container {
    display: grid;
    place-content: center;
    row-gap: 5vh;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 5vh 0;
}

.header {
    text-transform: uppercase;
    font-family: 'Palette Mosaic', cursive;
}

.content {
    max-width: 600px;
    display: grid;
    row-gap: 1vh;
}

.card {
    background: rgb(46, 46, 46);
    padding: 50px 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 30px;
    align-items: center;
}

.card .card__thumbnail {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.card .card__thumbnail img{
    width: 60px;
    height: 60px;
}

.card .card__header {
    grid-row: 1 / 2;
    grid-column: 3 / 13;
    text-align: center;
}

.card .card__description {
    grid-row: 2 / 3;
    grid-column: 4 / 12;
}

.footer {
    display: grid;
    row-gap: 1vh;
}

.footer .text-field {
	height: 1rem;
	width: 100%;
	outline: none;
	background-color: none;
	padding: 1.1em 3em;
	border: 1px solid black;
    transition: all .2s;
}

.footer .text-field:hover, .footer .text-field:focus {
    transform: translateY(-0.2em);
}


.footer .text-field::placeholder {
    color: grey;
    font-weight: lighter;
}

.footer .button {
    padding: 10px 15px;
}